*{
  padding: 10px 10px;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(183, 219, 240);

};

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  

}

